hr { 
  display: block;
  margin-top: 13px;
  /* margin-bottom: 0.5em; */
  margin-left: 24px;
  margin-right: 22px;
  border-style: dotted;
  border-width: 0.5px;
}

.container {
	width: 860px;
	height: auto;
	background-color: #121214;
	margin: 0 auto;
	color: #595959;
	font-family: "Times New Roman", serif;
	font-size: 0.6875em;
}

.content {
	width: 570px;
	margin-left: 145px;
	margin-right: 145px;
	padding-top: 20px;
	/*overflow: auto;*/
}

.left {
	/*position: relative;*/
	float: left;
	width: 370px;
	height: 490px;
}

.left p {
	margin-top: 12px;
	margin-left: 10px;
  font-size: x-small;
}

.left img {
	margin-top: 25px;
	height: 79px;
	width: auto;
}

.left__left {
	margin-left: 12px;
  margin-top: -4px;
/*	width: 136px;
	height: 110px;*/
	float: left;
}

.left__right {
  margin-top: 33px;
  margin-left: 130px;
  margin-right: 17px;
  line-height: 8.95px;
}

.left__right span {
	margin-left: -106px;
  font-size: x-small;
}

.text-label {
	margin-left: 9px;
}

.left__after {
  margin-left: 15px;
  margin-top: -27px;
}

.left__after a {
	text-decoration: none;
	color: #fff;
}

.left__after img {
	margin-bottom: -1px;
	width: 10px;
	height: auto;
}

.left__after--text {
  margin-top: 71px;
  margin-left: 10px;
  font-size: x-small;
}

.left__after--list {
	font-size: x-small;
	margin-top: 13px;
}

.col-1 {
	float: left;
    width: 162px;
    margin-left: 7px;
    line-height: 2;
}

.col-1 a {
  text-decoration: underline;
	color: #595959;


}

.col-1 img {
	width: 4px;
	margin: 0;
}
/*.col-1 ul {
	list-style-type: none;
}*/

.col-2 {
	float: right;
	width: 185px;
	line-height: 2;
}

.col-2 a {
  text-decoration: underline;
	color: #595959;

}

.col-2 img {
	width: 4px;
	margin: 0;
}

.right {
	position: relative;
	float: right;
	width: 200px;
	height: 490px;

}

.right img {
	height: 325px;
}

.first {
	color: #595959;
}

.right__inner > img {
	position: absolute;
	width: 145px;
	height: auto;
	margin-top: -240px;
  margin-left: 30px;

}

.right__inner > p {
	position: absolute;
  margin-top: -46px;
  margin-left: 30px;
  font-size: smaller;
}

.right__inner > p > img {
	width: 10px;
	height: auto;
}

.right__inner--text {
	position: absolute;
	margin-top: -147px;
	margin-left: 30px;
	margin-right: 17px;
	font-size: smaller;
}

.right__inner--text p {
	margin-top: 16px;
  margin-left: 1px;
}

.right__inner--text ul {
	line-height: 11px;
	padding: 0;
	list-style-type: none;
	color: #595959;
}

/*.right__inner--text img {
	margin-top: 29px;
	height: 79px;
	width: auto;
}*/

.text-white {
	color: #fff;
}

.text-maxi {
	color: #767884;
}

.right__inner a {
	text-decoration: none;
	color: #fff;
}

.clear-left-right {
	clear: both;
}

.left__last > p {
  margin-top: 9px;
  margin-left: 23px;
}

.left__last a {
	text-decoration: none;
	color: #fff;
}

.left__last img {
	width: 10px;
	height: auto;
	margin: 0;
}
